@import "colors";
@import "variables";

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-size: $fontSizes-md;
    font-weight: $fontWeights-light;
    line-height: $lineHeights-short;
    color: $global_black;
    background-color: $global_white;
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: $space-2;
}
  
p {
    margin-top: 0;
    margin-bottom: $space-4;
}

h1, .h1 {
    font-size: $fontSizes-5xl;
}   

h2, .h2 {
    font-size: $fontSizes-4xl;
}

h3, .h3 {
    font-size: $fontSizes-3xl;
}

h4, .h4 {
    font-size: $fontSizes-2xl;
}

h5, .h5 {
    font-size: $fontSizes-xl;
}

h6, .h6 {
    font-size: $fontSizes-md;
}

.form-control {
    margin-right: 10px;
    height: 50px;
    border-radius: 30px;
    border: none;
    background: $global_white;
    border-bottom: 1px solid $global_gray;
    display: block;
    width: 100%;
    padding: .375rem 1.5rem;
    font-size: 1rem;
    line-height: 1.5;
    color: $global_black;
    transition: border-color .15s ease-in-out , box-shadow .15s ease-in-out , -webkit-box-shadow .15s ease-in-out;

    &:focus-visible {
        outline: 0;
        border-bottom: 1px solid $global_gray;
    }
}

.d-flex {
    display: flex !important;
}

.align-items-center {
    align-items: center !important;
}

.mr-auto {
    margin-right: auto !important;
}

.pl-0 {
    padding-left: 0 !important;
}

.text-right {
    text-align: right !important;
}

.position-relative {
    position: relative !important;
}