@import "colors";
@import "variables";

.slider-section {
    background-size: cover;
    background-color: $global_white;
    overflow: hidden;
    padding: $space-28 0px;

    &-container {
        display: grid;
        grid-template-columns: repeat(12, minmax(0,1fr));;
        width: 75%;
        margin: 0px auto;

        &-img-wrapper {
            grid-column: span 6/span 6;
            display: flex;

            img {
                width: 100%;
            }
        }

        &-content-wrapper {
            grid-column: span 6/span 6;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}