@import "colors";
@import "variables";

.post-section {
    background-size: cover;
    background-color: $global_white;
    overflow: hidden;
    padding: $space-20 0px;
}

.politics-title {
    margin-bottom: 50px;

    h5 {
        font-size: 20px;
        font-weight: $fontWeights-normal;
        border-bottom: 1px solid $global_black;
        position: relative;
        display: inline-block;
    }
}

.politics-posts {
    margin-bottom: 30px;
}

.politics-posts-thumbnail {
    width: 30%;
}

.business-title {
    margin-bottom: 50px;

    h5 {
        font-size: 20px;
        font-weight: $fontWeights-normal;
        border-bottom: 1px solid $global_black;
        position: relative;
        display: inline-block;
    }
}

.business-posts {
    margin-bottom: 30px;
}

.business-posts-thumbnail {
    width: 30%;
}

.politics-contents {
    width: 70%;
    padding: 10px 20px;

    h2 {
        font-size: 15px;

        a {
            color: $global_black;
            text-decoration: underline !important;
        }
    }

    p {
        color: $global_dark_gray;
        line-height: $lineHeights-6;
        font-weight: $fontWeights-normal;
        font-size: $fontSizes-sm-md;
    }

    &-meta {
        font-size: $fontSizes-sm;

        span {
            color: $global_dark_gray;

            a {
                color: $global_accent;
            }
        }
    }
}

.business-contents {
    width: 70%;
    padding: 10px 20px;

    h2 {
        font-size: 15px;

        a {
            color: $global_black;
            text-decoration: underline !important;
        }
    }

    p {
        color: $global_dark_gray;
        line-height: $lineHeights-6;
        font-weight: $fontWeights-normal;
        font-size: $fontSizes-sm-md;
    }

    &-meta {
        font-size: $fontSizes-sm;

        span {
            color: $global_dark_gray;

            a {
                color: $global_accent;
            }
        }
    }
}