<nav class="navbar">
  <div class="navbar-container">
    <div class="navbar-container-logo-part">
      <h1><a routerLink="/home">Blog</a></h1>
    </div>
    <div class="navbar-container-search-part">
      <a href="#" class="navbar-container-search-part-social-icon">
        <i class="fa-brands fa-facebook-f"></i>
      </a>
      <a href="#" class="navbar-container-search-part-social-icon">
        <i class="fa-brands fa-twitter"></i>
      </a>
      <a href="#" class="navbar-container-search-part-social-icon">
        <i class="fa-brands fa-instagram"></i>
      </a>
      <div class="navbar-container-search-part-wrapper">
        <input type="text" [placeholder]="'Search...'" class="form-control" />
        <a href="#" class="navbar-container-search-part-wrapper-search-icon">
          <i class="fa-solid fa-magnifying-glass"></i>
        </a>
      </div>
    </div>
  </div>
  <div id="sticky-wrapper" class="navbar-sticky-wrapper" style="height: 54.75px">
    <div
      class="navbar-sticky-wrapper-container"
    >
      <div class="navbar-sticky-wrapper-container-main-div">
        <div class="d-flex align-items-center">
          <div class="mr-auto">
            <nav
              class="navbar-sticky-wrapper-container-main-div-site-navigation position-relative text-right"
              role="navigation"
            >
              <ul
                class="mr-auto pl-0"
              >
                <li class="active">
                  <a href="index.html" class="text-left">Home</a>
                </li>
                <li>
                  <a href="categories.html" class="text-left"
                    >Categories</a
                  >
                </li>
                <li>
                  <a href="categories.html" class="text-left"
                    >Politics</a
                  >
                </li>
                <li>
                  <a href="categories.html" class="text-left"
                    >Business</a
                  >
                </li>
                <li>
                  <a href="categories.html" class="text-left"
                    >Health</a
                  >
                </li>
                <li>
                  <a href="categories.html" class="text-left"
                    >Design</a
                  >
                </li>
                <li>
                  <a href="categories.html" class="text-left">Sport</a>
                </li>
                <li>
                  <a href="contact.html" class="text-left">Contact</a>
                </li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>
